@import '@fontsource-variable/roboto';
@import "tailwindcss";

@property --border-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  
@theme{
    --font-roboto: 'Roboto Variable', sans-serif;
    --animate-background: background-move ease infinite;
    --animate-rotate-border: border-rotate 3s linear infinite;
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
        0%,
        100% {
        transform: rotate(-3deg);
        }
        50% {
        transform: rotate(3deg);
        }
    }

    @keyframes border-rotate {
        to {
        --border-angle: 360deg;
        }
    }

    @keyframes background-move {
        0%,
        100% {
        background-position: 0% 50%;
        }

        50% {
        background-position: 100% 50%;
        }
    }
      



}

